<!DOCTYPE html>
<html>
  <head>
    <title>InsomeniaDevelopeHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'home', root_path %>
    <% if user_signed_in? %>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'sign in', new_user_session_path %>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
